lemon-dataset/
wandb/
models/
artifact/
artifacts/
model-dev-course/lesson1/artifacts/
wandb101/cifar_net.pth
wandb101/data/
*.csv
*.tar
*.png
*.DS_Store
vector_store
*.db
*.pkl
.chroma
flagged

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/
