lemon-dataset/
wandb/
artifact/
artifacts/
model-dev-course/lesson1/artifacts/
*.csv
*.json
*.png

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

