beautifulsoup4>=4.12.3
blingfire>=0.1.8
cohere>=5.5.8
levenshtein>=0.25.1
markdown-it-py>=3.0.0
nltk>=3.8.1
numpy>=1.26.4
openai>=1.35.7
pandas>=2.2.2
pymdown-extensions>=10.8.1
python-dotenv>=1.0.1
ranx>=0.3.19
rouge>=1.0.1
scikit-learn>=1.5.0
scipy>=1.14.0
tiktoken>=0.7.0
wandb>=0.17.3
weave>=0.50.6